#notification {
    display: none;
    padding: 20px;
    color: white;
    background-color: green;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-out;
    width: 75vw;
}

@keyframes slideUp {
    from {
        bottom: -100%;
    }

    to {
        bottom: 88%;
        transform: translate(-50%, -50%);
    }
}
